<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <style>
        body {
            background-color: antiquewhite;
        }
        #block {
            margin: 25px;
            padding: 20px;
            width: 330px;
            background-color: white;
            border-style: none;
            box-shadow: 5px 5px 10px black;
        }
    </style>
</head>
<body>
<div id="block">
    <fieldset>
        <legend> ДОБАВЛЕНИЕ </legend>
<form th:method="POST" th:action="@{/user/add}" th:object="${user}">
    <label for="lastName"><strong>lastName: </strong></label>
        <input type="text" th:field="*{lastName}" id="lastName"><br>
            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    <br>
    <label for="firstName"><strong>firstName: </strong></label>
        <input type="text" th:field="*{firstName}" id="firstName"><br>
            <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    <br>
    <label for="middleName"><strong>middleName: </strong></label>
        <input type="text" th:field="*{middleName}" id="middleName"><br>
            <div style="color: red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
    <br>
    <label for="age"><strong>age: </strong></label>
        <input type="text" th:field="*{age}" id="age"><br>
            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br>
    <label for="email"><strong>email: </strong></label>
        <input type="text" th:field="*{email}" id="email"><br>
            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label for="phoneNo"><strong>phoneNo: </strong></label>
        <input type="text" th:field="*{phoneNo}" id="phoneNo"><br>
            <div style="color: red" th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}"></div>
    <br>
    <input type="submit" value="Add_user">
</form>
    </fieldset>
</div>
</body>
</html>