<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="Dealership.properties" />

    <bean id="JeepBean" class="Jeep"/>
    <bean id="HatchbackBean" class="Hatchback" />

        <!-- scope prototype -->
        <bean id="dealer_sale_jeep"
              class="Dealership" scope="prototype">
            <property name="car" ref="JeepBean" />
            <property name="city" value="${Dealership.city1}"/>
        </bean>

        <!-- scope prototype -->
        <bean id="dealer_sale_hatchback"
              class="Dealership" scope="prototype">
            <property name="car" ref="HatchbackBean"/>
            <property name="city" value="${Dealership.city2}" />
        </bean>

</beans>