<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">

</head>
<body>
<div>
    <fieldset>
        <legend>Personal account</legend>
        <br>
        <form method="post" th:action="@{/logout}">
            <button type="submit">Выйти из личного кабинета</button>
        </form>
        <br>
        <form method="get" th:action="@{/cart}">
            <button type="submit">Корзина</button>
        </form>
        <br>
        <br>
        <form method="get" th:action="@{/orders}">
            <button type="submit">Заказы</button>
        </form>
        <br>
    </fieldset>
    <br>
    <div class="search">
            <form th:method="POST" th:action="@{/account/search}">
                <label for="titleRequest"><strong>Наименование </strong></label>
                <input type="text" id="titleRequest" name="titleRequest" th:value="*{value_titleTyped}"><br>
                <br>
                <strong>Цена, </strong>
                <label for="priceFrom">oт </label>
                <input type="text" id="priceFrom" name="priceFrom" th:value="*{value_priceFrom}">
                <label for="priceTo"> до </label>
                <input type="text" id="priceTo" name="priceTo" th:value="*{value_priceTo}"> <br>
                <div>
                    <input type="radio" id="ascendingPrice" name="priceSort" value="priceSortByASC">
                    <label for="ascendingPrice"> по возрастанию </label>
                    <span hidden> placeholder </span>
                    <input type="radio" id="descendingPrice" name="priceSort" value="priceSortByDESC">
                    <label for="descendingPrice"> по убыванию цены</label><br>
                    <span><strong>Категория </strong></span>
                    <br>
                    <input type="radio" id="furniture" name="categorySelect" value="furniture">
                    <label for="furniture">Мебель</label>
                    <input type="radio" id="clothes" name="categorySelect" value="clothes">
                    <label for="clothes">Одежда</label>
                    <input type="radio" id="appliance" name="categorySelect" value="appliance">
                    <label for="appliance">Бытовая техника</label><br>
                    <br>
                    <input type="submit" value="Найти">
                </div>
            </form>
    </div>

    <div>
            <div th:each="product: ${productFound}">
                <div class="card">
                    <img th:src="'/img/'+${product.imageList[0].getFileName()}"
                         th:alt="${product.getTitle()}">
                    <br>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}"
                       th:text="${product.getTitle()}"
                       target="_blank">
                        title</a>
                    <br>
                    <strong>Price: </strong><span th:text="${product.getPrice()}"></span>
                    <hr>
                </div>
            </div>
    </div>
    <br>
    <hr>
    <br>
    <h3>Доступные товары</h3>
    <div class="card-box">
    <div class="card" th:each="product: ${products}">

            <img
                    th:src="'/img/'+${product.imageList[0].getFileName()}"
                    th:alt="${product.getTitle()}">
            <hr>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}"
               th:text="${product.getTitle()}"
               target="_blank">
                title</a>
            <br>
            <strong>Price: </strong><span th:text="${product.getPrice()}">price</span><br>
            <br>
            <a th:href="@{/cart/add/{id}(id=${product.getId()})}">
                <button class="card-btn" type="button">Добавить в корзину</button>
            </a>
    </div>
    </div>
</div>
</body>
</html>