<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">

</head>
<body>
<div id="block">
    <fieldset>
        <legend> Account </legend>
        <div>
            <h3>Spring Security App</h3>
            <div>
                some blocks
            </div>
            <br>
            <form method="post" action="/logout">
                <button type="submit">Выйти из личного кабинета</button>
            </form>
        </div>
    </fieldset>
    <br>
    <h3>product list</h3>
    <div th:each="product: ${products}">
        <div id="product-item">
            <img
                    th:src="'/img/'+${product.imageList[0].getFileName()}"
                    width="100px"
                    th:alt="${product.getTitle()}">
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}"
               th:text="${product.getTitle()}">title</a>
            <br>
            <strong>Price: </strong><span th:text="${product.getPrice()}">price</span>
            <hr>
        </div>
    </div>
</div>
</body>
</html>