<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User orders</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<div>
    <a href="/account">Вернутся на главную</a>
    <hr>
    <h3>Ваши заказы:</h3>
    <br>
    <div class="order" th:each="order : ${userOrders}">
        <div class="order-caption">
            <table class="order-item">
                <tbody>
                <tr>
                    <td id="order-item-caption-orderNo">
                        <strong style="font-size: large" th:text="'Заказ от '+${#temporals.format(order.getDateTime(), 'dd MMM yyyy')}"></strong><br>
                        <span th:text="${order.getOrderNo()}"></span>
                        </b>
                    </td>
                    <td id="order-item-caption-price">
                        <b><span th:text="'Оплочено: '+${order.getPrice()}"></span></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tbody>
            </table>
        </div>
        <div>
            <table class="order-item">
                <tbody>
                <tr>
                    <td colspan="2">
                        <br>
                        <span>Cтатус: </span>
                        <span id="order-status" th:text="${order.getStatus()}+' ( i ) '"></span><br>
                        <br>
                        <span th:text="${order.getProduct().getTitle()}+ ', '+${order.getCount()}+' шт'"></span><br>
                    </td>
                    <td>
                        <img
                                class="img-small"
                                th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}"
                                th:alt="${order.getProduct().getTitle()}"
                        >
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>
</body>
</html>