<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User orders</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<div>
    <a href="user/index">Вернутся на главную</a>
    <br>
    <span>Заказы</span> | <a href="/account">Назад</a>
    <div th:each="order : ${allOrders}">
        <div class="order">
            <h4 th:text="'Заказ #' +  ${order.getOrderNo()}">orderNo</h4>
            <img
                    class="img-small"
                    th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}"
                    th:alt="${order.getProduct().getTitle()}"
                    width="100px"
            >
            <br>
            <strong>Наименование: </strong><span th:text="${order.getProduct().getTitle()}">title</span><br>
            <strong>Количество: </strong><span th:text="${order.getCount()}">count</span><br>
            <strong>Цена: </strong><span th:text="${order.getProduct().getPrice()}">price</span><br>
            <strong>Дата заказа: </strong><span th:text="${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}">date</span>
            <br>
            <strong>Статус заказа: </strong><span th:text="${order.getStatus()}"></span>
        </div>
    </div>
</div>
</body>
</html>