<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN TERMINAL</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<div class="block">
  <fieldset>
    <legend>ADMIN PANEL</legend>
    <div>
      <a href="admin/product/add">Добавить товар</a>
    </div>
      <br>
      <div>
          <a href="admin/users">Все пользователи</a>
      </div>
      <div>
          <a href="admin/orders">Список всех товаров</a>
      </div>
      <br>

      <form method="post" th:action="@{/logout}">
          <button type="submit">Выйти из админ кабинета</button>
      </form>
  </fieldset>
    <br>
    <div th:each="product : ${products}">
        <br>
        <fieldset>
            <legend> PRODUCT </legend>
            <br>
            <strong>Наименование: </strong><span th:text="${product.getTitle()}">title</span><br>
            <strong>Описание: </strong><span th:text="${product.getDescription()}">description</span><br>
            <strong>Категория: </strong><span th:text="${product.getCategory().getTitle()}">category</span><br>
            <strong>Продавец: </strong><span th:text="${product.getSeller()}">seller</span><br>
            <strong>Склад: </strong><span th:text="${product.getWarehouse()}">warehouse</span><br>
            <strong>Цена: </strong><span th:text="${product.getPrice()}">price</span><br>
            <br>
            <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}"> Редактировать товар </a><br>
            <br>
            <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}"> Удалить товар </a><br>
            <br>
            </fieldset>
    </div>
</div>
</body>
</html>