<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">

</head>
<body>
<div id="block">
    <a href="/auth">Авторизация</a> |
    <a href="/reg">Регистрация</a>
    <br>
    <span>Search placeholder</span>
    <br>
        <h2>Товары</h2>
    <div class="card-box">
        <div class="card" th:each="product: ${products}">
                <img
                        th:src="'/img/'+${product.imageList[0].getFileName()}"
                        width="100px"
                        th:alt="${product.getTitle()}">
                <hr>
                <a th:href="@{/product/info/{id}(id=${product.getId()})}"
                   th:text="${product.getTitle()}"
                   target="_blank">
                    title</a><br>
                <br>
                <strong><span th:text="${product.getPrice()}"></span></strong>
        </div>
    </div>
</div>
</body>
</html>