<!-- ШАБЛОН HTML-->
<!-- Сообщение браузеру как стоит обработь страницу -->
<!DOCTYPE html>
<html lang="en">
<!-- контейнер Head (не отображается для пользователя), заголовок, метаданные, стили и другие важные данные -->    
<head>
<!-- метаданные страницы -->
    <meta charset="UTF-8"> <!-- кодировка -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- совместимость с браузерами -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=" # "> <!-- ключевые слова для поисковых систем -->
    <meta name="description" content=" # "> <!-- описание страницы для вывода в поисковую систему -->
<!--заголовок страницы в браузере -->    
    <title> # </title> <!--заголовок страницы в браузере -->
<!-- 
    Приоритет:
1) inline-cтили встроенные в тег
2) <STYLE>
3) подключенный файл css
-->
<!-- стили встроенные в html -->    
    <style>    
    #blockSpan{
        display: block;
        color:red;
        background-color: bisque;
        width: 100px;
        height: 50px;
    }    
    #divInline{
        display: inline;
    }

    span{
        background-color: brown;
    }
    .inlikeBlockSpan{
        display: inline-block;
        width: 100px;
        height: 50px;
    }
    ul{
    display: table;
    margin: 0;
   }
    li{
    list-style-type: none;
    display: table-cell;
    padding: 10px;
}
.invisible{
    display: none;
}

    </style>

<!-- подключение */*.css -->   
     <link rel="stylesheet" type="text/css"  href="css/#.css"/>
 </head>

<!-- отображаемое тело страницы -->
<body> 

<!-- блок для шапки страницы, логотип, идея, меню -->
<header tabindex="1"> 
    <h1># Header #</h1>
</header>

<!-- блок для основной информации -->
<main role="main"> 
    <h2>Display</h2>
    <p>
        Позволяет управлять блоком элемента и также влиять на его позиционирование относительно соседних элементов.
    </p>
    <pre>
        inline: элемент становится строчным, подобно словам в строке текста
        block: элемент становится блочным, как параграф
        inline-block: элемент располагается как строка текста
        list-item: элемент позиционируется как элемент списка обычно с добавление маркера виде точки или порядкового номера
        run-in: тип блока элемента зависит от окружающих элементов
        flex: позволяет осуществлять гибкое позиционирование элментов
        table, inline-table: позволяет расположить элементы в виде таблицы
        none: элемент не виден и удален из разметки html
    </pre>
    
    <div>Это <span>строчный</span> элемент спан. По умолчанию Спан имеет свойство display: inline</div>
    <br>
    <div>Это <span id="blockSpan">блок спан </span> со свойством диплей: блок</div>
    <br>
    <div id="divInline">Первый строчный элемент div.</div>
    <div id="divInline">Второй строчный элемент div.</div>
    <br>
    <div>
        <h3>inline-block - строка в блок</h3>
    <p>представляет элемент, который обладает смесью признаков <span>блочного и строчного элементов</span>. По отношению к соседним внешним элементам такой элемент расценивается как строчный. То есть он не отделяется от соседних элементов переводом строки. </p>
    <p>Однако по отношению к <span class="inlikeBlockSpan">вложенным элементам</span> он рассматривается как блочный. И к такому элементу применяются свойства <span class="inlikeBlockSpan">width, height, margin</span></p>
    </div>

    <h3>run-in</h3>
    <p>
        run-in определяет элемент, который зависит от соседних элементов. И здесь есть три возможных варианта:
    - Элемент окружен блочными элементами, тогда фактически он имеет стиль display: block, то есть сам становится блочным
    - Элемент окружен строчными элементами, тогда фактически он имеет стиль display: inline, то есть сам становится строчным
    - Во всех остальных случаях элемент считается блочным
    </p>
    <br>
    <h3>display: table-cell; Табличное представление</h3>
    <ul></ul>
    <il>Element 1</il>
    <il>Element 2</il>
    <il>Element 3</il>
    <br>
    <h3>Display: none; Сокрытие элемента</h3>
    <p>Первый параграф</p>
    <p class="invisible">Второй параграф</p>
    <p>Третий параграф</p>
</main>
<!-- футер, информация об авторе, дату публикации, копирайт, блок ссылок -->
<footer tabindex="#">
    <p>
        <a href="/telegram">Telegram</a> |
        <a href="/about">О сайте</a> |
        <a href="/donation">Donations</a>
    </p>
<!-- Адрес, способ связи с автором -->
    <address>
        <small>Контакты для связи <a href="mailto:bulgarpepper@gmail.com">A. Bulgarsky</a></small>
    </address>
</footer>

</body>
</html>