<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add product</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<div id="block">
    <fieldset>
        <legend>Add product</legend>
        <form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
            <br>
            <label for="title">
                <strong>Title: </strong>
            </label>
                <input type="text" th:field="*{title}" placeholder="Title" id="title"><br>
            <div style="color:darkred"
                 th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <br>
            <label for="price">
                <strong>Price: </strong>
            </label>
            <input type="number" th:field="*{price}" placeholder="Price" id="price"><br>
            <div style="color:darkred"
                 th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            <br>
            <label for="warehouse">
                <strong>WH: </strong>
            </label>
            <input type="text" th:field="*{warehouse}" placeholder="Warehouse" id="warehouse"><br>
            <div style="color:darkred"
                 th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
            <br>
            <label for="category">
                <strong>Category: </strong>
            </label>
            <select name="category" th:field="*{category}" id="category">
                <div th:each="element : ${category}">
                    <option th:text="${element.getTitle()}" th:value="${element.getId()}"></option>
                </div>
            </select>
            <br>
            <div style="color:darkred" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
            <br>
            <span style="color: darkred">Макс.кол-во файлов: 5</span><br>
            <label>
                <strong>Upload images</strong>
            </label><br>
            <label for="file_1"><input type="file" name="file_1" id="file_1"></label><br>
            <label for="file_2"><input type="file" name="file_2" id="file_2"></label><br>
            <label for="file_3"><input type="file" name="file_3" id="file_3"></label><br>
            <label for="file_4"><input type="file" name="file_4" id="file_4"></label><br>
            <label for="file_5"><input type="file" name="file_5" id="file_5"></label><br>
            <br>
            <label for="seller">
                <strong>Seller: </strong>
            </label><br>
            <textarea th:field="*{seller}" placeholder="Seller" id="seller">
            </textarea><br>
            <div style="color:darkred"
                 th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
            <br>
            <label for="description">
                <strong>Description: </strong>
            </label><br>
            <textarea th:field="*{description}" placeholder="Description" id="description">
            </textarea><br>
            <div style="color:darkred"
                 th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <br>
            <input type="submit" value="SUBMIT">
            <br>
        </form>
    </fieldset>
</div>
</body>
</html>