<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
    <link th:href="@{/css/style.css}"
        type="text/css"
        rel="stylesheet">
</head>
<body>
<br>



<h3>List</h3>
<div th:each="product: ${products}">
  <div class="card">
    <img th:src="'/img/'+${product.imageList[0].getFileName()}" width="100px" th:alt="${product.getTitle()}">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}"
       th:text="${product.getTitle()}"
       target="_blank">
      link</a>
    <hr>
    <strong>Price: </strong><span th:text="${product.getPrice()}">price</span>
    <br>
  </div>
</div>
</body>
</html>