<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD Person</title>
    <style>
        body {
            background-color: antiquewhite;
        }
        #block {
            margin: 25px;
            padding: 20px;
            width: 330px;
            background-color: white;
            border-style: none;
            box-shadow: 5px 5px 10px black;
        }
    </style>
</head>
<body>
<div id="block">
<fieldset>
  <legend> ДОБАВЛЕНИЕ </legend>
  <form th:action="${'/person/add'}" method="post" >
      <br>
      <input type="text" name="lastName" placeholder="Введите фамилию"><br>
      <br>
      <input type="text" name="firstName" placeholder="Введите имя"><br>
      <br>
      <input type="text"  name="middleName" placeholder="Введите отчество"><br>
        <br>
      <span>Адрес: </span><br>
      <br>
      <select name="street">
          <div th:each="element : ${address}">
              <option th:text="${element.getStreet()}"></option>
          </div>
      </select>
      <br>
      <br>
      <button type="submit">Добавить</button>
      <br>
  </form>
</fieldset>
</div>
</body>
</html>