<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order info</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<a href="/admin">Вернутся в терминал</a><br>
<br>
<a href="/admin/orders">Список заказов</a> |
<a href="/admin/users">Список пользователей</a>
<hr>
<h2 th:text="'Заказ № '+${orderById.getOrderNo()}"></h2>
<h4 th:text="'от '+${#temporals.format(orderById.getDateTime(), 'dd MMM yyyy')}"></h4>
<h4 th:text="'Покупатель: '+${orderById.getPerson().getLogin()}"></h4>
<div class="order">
    <div class="order-caption">
        <table class="order-item">
            <tbody>
            <tr>
                <td id="order-item-caption-orderNo">
                    <h3 th:text="${orderById.getCount()}+' товар'"></h3>
                    <span th:text="${orderById.getProduct().getSeller()}"></span>
                </td>
                <td id="order-item-caption-price">
                    <b><span th:text="'Оплочено: '+${orderById.getPrice()}"></span></b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr>
                </td>
            </tr>

            <tbody>
        </table>
    </div>
    <div>
        <table class="order-item">
            <tbody>
            <tr>
                <td>
                    <img
                            class="img-small"
                            th:src="'/img/' + ${orderById.getProduct().getImageList()[0].getFileName()}"
                            th:alt="${orderById.getProduct().getTitle()}"
                    >
                </td>
                <td colspan="2">
                    <span th:text="${orderById.getProduct().getTitle()}"></span><br>

                </td>
                <td>
                    <span>Cтатус: </span>
                    <span id="order-status" th:text="' '+ ${orderById.getStatus()}+' ( i ) '"></span><br>
                    <br>
                    <a th:href="@{/admin/order/edit/{id}(id=${orderById.getId()})}" th:text="'Изменисть статус'"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>