<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order edit</title>
    <link th:href="@{/css/style.css}"
        type="text/css"
        rel="stylesheet">
</head>
<body>
  <a href="/admin">Вернутся в терминал</a><br>
  <br>
  <a href="/admin/orders">Список заказов</a> |
  <a href="/admin/users">Список пользователей</a>
  <hr>
  <form th:method="POST"
        th:action="@{/admin/order/edit/{id}(id=${orderById.getId()})}"
        th:object="${orderById}">
  <h2 th:text="'Заказ № '+ *{orderNo}"></h2>
  <h4 th:text="'от '+*{#temporals.format(dateTime, 'dd MMM yyyy')}"></h4>
  <div class="order">
    <div class="order-caption">
      <table class="order-item">
        <tbody>
        <tr>
          <td id="order-item-caption-orderNo">
            <span th:text="*{count}"></span> шт <br>
          </td>
          <td id="order-item-caption-price">
            <b><span th:text="'Оплочено: '+*{price}"></span></b>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <hr>
          </td>
        </tr>

        <tbody>
      </table>
    </div>
    <div>
      <table class="order-item">
        <tbody>
        <tr>
          <td>
            <img
                    class="img-small"
                    th:src="'/img/' + ${orderById.getProduct().getImageList()[0].getFileName()}"
                    th:alt="${orderById.getProduct().getTitle()}"
            >
          </td>
          <td colspan="2">
            <span th:text="*{product.title}"></span><br>

          </td>
          <td>
            <span>Текущий статус: </span>
            <span id="order-status" th:text="${orderById.getStatus()}+' ( i ) '"></span><br>
            <br>

              <label for="status">Новый статус</label>
              <select id="status" th:field="*{status}">
                <option th:each="enumm : ${T(com.example.market.enumm.Status).values()}"
                        th:text="${enumm.toString()}"
                        th:value="${enumm}">
                </option>
              </select>
              <button type="submit">Сохранить</button>


          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </form>

</body>
</html>