<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order edit</title>
    <link th:href="@{/css/style.css}"
        type="text/css"
        rel="stylesheet">
</head>
<body>
  <a href="/admin">Вернутся в терминал</a><br>
  <br>
  <a href="/admin/orders">Список заказов</a> |
  <a href="/admin/users">Список пользователей</a>
  <hr>
  <form th:method="POST"
        th:action="@{/admin/order/edit/{id}(id=${orderEdit.getId()})}"
        th:object="${orderEdit}">
  <h2 th:text="'Заказ № '+ ${orderEdit.getOrderNo()}"></h2>
  <h4 th:text="'от '+${#temporals.format(orderEdit.getDateTime(), 'dd MMM yyyy')}"></h4>
    <h4 th:text="'Покупатель: '+${orderEdit.getPerson().getLogin()}"></h4>
  <div class="order">
    <div class="order-caption">
      <table class="order-item">
        <tbody>
        <tr>
          <td id="order-item-caption-orderNo">
            <span th:text="${orderEdit.getCount()}"></span> шт <br>
          </td>
          <td id="order-item-caption-price">
            <b><span th:text="'Оплочено: '+${orderEdit.getPrice()}"></span></b>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <hr>
          </td>
        </tr>

        <tbody>
      </table>
    </div>
    <div>
      <table class="order-item">
        <tbody>
        <tr>
          <td>
            <img
                    class="img-small"
                    th:src="'/img/' + ${orderEdit.getProduct().getImageList()[0].getFileName()}"
                    th:alt="${orderEdit.getProduct().getTitle()}"
            >
          </td>
          <td colspan="2">
            <span th:text="${orderEdit.getProduct().getTitle()}"></span><br>

          </td>
          <td>
            <span>Статус: </span>
            <span id="order-status" th:text="${orderEdit.getStatus()}+' ( i ) '"></span><br>
            <br>

              <label for="newStatus">Изм.: </label>
              <select id="newStatus" value="set_New_Status" th:field="*{status}">
                <option th:each="status : ${T(com.example.market.enumm.Status).values()}"
                        th:text="${status.toString()}"
                        th:value="${status}"
                        >
                </option>
              </select>
              <button type="submit">Сохранить</button>


          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  </form>

</body>
</html>