body, select, button, hr {
    margin: 10px;
    font-family: Tahoma;
    outline: none;
}
.sheet {
    width: 330px;
    background-color: darkseagreen;
    margin: 25px;
    padding: 35px 35px 35px 35px;
    box-shadow: 10px 10px 10px dimgray;
}

.form, .injection {
    width: 290px;
    box-shadow: 5px 5px 10px dimgray;
    padding: 20px;
    border: none;
    background-color: white;
}

#injection {
    font-size: 14px;
}

input:invalid {
    border: darkred solid 2px;
}

input[type=radio]:checked {

}
input[type=range]{
    width: 98%;
}

td select, td input {
    width: 150px;
}

#visual td {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
}

#visual div {
    margin: auto;
}
table {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
}