.section_gallery {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 7% 1fr 1fr 1fr 7%;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr 0.25fr;
    gap: 10px 10px; 
    
    grid-template-areas:
      "gallery-l-side gallery-header gallery-header gallery-header gallery-r-side"
      "gallery-l-side gallery-banner gallery-banner gallery-banner gallery-r-side"
      "gallery-l-side gallery-1 gallery-2 gallery-3 gallery-r-side"
      "gallery-l-side gallery-4 gallery-5 gallery-6 gallery-r-side"
      "gallery-l-side gallery-footer gallery-footer gallery-footer gallery-r-side";
  }
  
  .gallery-header { grid-area: gallery-header; }
  .gallery-footer { grid-area: gallery-footer; }
  .gallery-l-side { grid-area: gallery-l-side; }
  .gallery-r-side { grid-area: gallery-r-side; }
  .gallery-banner {
    grid-area: gallery-banner;
    height: 180px;
    background-color:#FF9245;
    border-bottom-right-radius: 50px;
    padding: 20px;   
    margin-bottom: 25px;
}
  .gallery-1 { grid-area: gallery-1; }
  .gallery-2 { grid-area: gallery-2; }
  .gallery-3 { grid-area: gallery-3; }
  .gallery-4 { grid-area: gallery-4; }
  .gallery-5 { grid-area: gallery-5; }
  .gallery-6 { grid-area: gallery-6; }  

  