.home { 
    display: grid;
    grid-template-columns: minmax(10px, 60px) 0.5fr 0.5fr minmax(10px, 60px) 0.5fr 0.5fr minmax(60px, 100px);
    grid-template-rows: 0.5fr 2fr 0.25fr 0.25fr 0.25fr 0.25fr;
    gap: 5px 0px;
    
    border-style: dotted;
    width: auto;
    height: 1024px;
  }
  
  .home-l-side { grid-area: 1 / 1 / 7 / 2; }
  
  .home-r-side { grid-area: 1 / 7 / 7 / 8; }
  
  .home-header {
    grid-area: 1 / 2 / 2 / 7; 
    height: 50px;
    background-color: #666;
}
  
  .home-footer {
    grid-area: 6 / 2 / 7 / 7;
    height: 50px;
    background-color: #666;
}
  
  .home-main-banner {
    align-self: center;
    grid-area: 2 / 2 / 3 / 7;
    height: 400px;
    background-color:tomato;
    border-bottom-right-radius: 50px ;
    }
  
  .home-buttots-place {
    grid-area: 3 / 2 / 6 / 7;   
    height: 300px;
}
  
  .home-button-buy {
    grid-area: 4 / 5 / 5 / 6;
    width: 280px;
    height: 75px;
    border-style: dotted;
    }
  
   .home-button-news {
    justify-items: baseline;
    grid-area: 4 / 3 / 5 / 4;
    width: 280px;
    height: 75px;
    border-style: dotted;
  }

  .home-bottom-arrow {
    align-self: center;
    grid-area: 6 / 4 / 7 / 5;
    background-color: tomato;
    border-radius: 50% 20% / 10% 40%;
    width: 100px;
    height: 75px;
    align-items: center;
    justify-content: center;
  }
  .home-bottom-arrow div {
    text-align: center; 
    margin: 5px 20px 0px 20px;
    animation:arrow-position 1s infinite ease-in-out;
  }
@keyframes arrow-position {
    0% {font-size: 22pt;}
    100% {font-size: 28pt;}
}
  .button {
    width: 200px;
    height: 50px;
    background-color: tomato;
    border-radius: 5px;   
    text-align: center;
    padding: 1px;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 5px;
    width: 280px;
    height: 48px;
    font-style: italic
    ;
  }

  .active, .btn:hover {
    background-color: #666;
    color: white;
  }

  