body { background-color: #FFE7B9;}


/*  СЕКЦИИ */
section {
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
  ;
}

#section_head {
  width: 98%;
  height: 98%;
  border-style: dotted;
}
#section_main {
  width: 98%;
  height: 98%;
  border-style: dotted;
}

#section_feed {
  width: 98%;
  height: 98%;
  border-style:dotted;
}
#section_gallery {
  width: 98%;
  height: 98%;
  border-style:dotted;
}
#section_price {
  width: 98%;
  height: 98%;
  border-style:dotted;
}

#section_feedback {
  width: 98%;
  height: 98%;
  border-style:dotted;
}

/* ХЕАДЕР МЕНЮ */
.header_links {
  display: flex;
  width: auto;
  justify-content: center;
  text-align: center;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  padding-top: 7px;
  color:#230700;
}
.header_links div:first-child {
  width:30px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  padding: 7px;
}
.push {
  margin-left: auto;
}

.header_links .header_btn {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
}
.header_links div:nth-child(3) {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
  ; 
}
.header_links div:nth-child(4) {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
  ; 
}

.header_links div:nth-child(5) {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
  ; 
}
.header_links div:nth-child(7) {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
  ; 
}
.header_links div:nth-child(9) {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
  ; 
}
.header_links div:nth-child(11) {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: #FF9245;
  ; 
}

.name {
  background-color: none;
}
  
.header_links div a {
  color:#230700;
  text-decoration: none;
}

.header_links div:last-child a {
  color: #FFE7B9;
  text-decoration: none;
}

.header_links div:last-child {
  display: outside;
  position: fixed;
  border-style: groove;
  border-color: #230700;
  background-color: #230700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 150px;
  height: 48px;
  top: 87.5%; bottom: 0; left: 87.5%; right: 0;
}

/* НОВОСТИ */
/* ГАЛЛЕРЕЯ */
/* ПРАЙС ЛИСТ */
/* ОБРАТНАЯ СВЯЗЬ */