/* секция прайс */
.section_price {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.25fr 0.5fr 1fr 1fr 0.5fr 0.25fr;
    grid-template-rows: minmax(30px, 60px) 0.5fr 1fr 1fr minmax(30px, 60px);
    gap: 10px 10px;
    grid-auto-flow: row;
  }
  
    .price-area { grid-area: 3 / 2 / 5 / 6; }
    .price-text { grid-area: 2 / 2 / 3 / 6; }
    .price-header { grid-area: 1 / 2 / 2 / 6; }
    .price-footer { grid-area: 5 / 2 / 6 / 6; }
    .price-l-side { grid-area: 1 / 1 / 6 / 2; }
    .price-r-side { grid-area: 1 / 6 / 6 / 7; }
    .price-area-l { grid-area: 3 / 2 / 5 / 3; }
    .price-area-r { grid-area: 3 / 5 / 5 / 6; }
    .price-area-table { grid-area: 3 / 3 / 5 / 5; }
  

  .price-area, .price-footer, .price-header, .price-l-side, .price-r-side, .price-text, .section_price, .price-area-table, .price-area-l, .price-area-r {
    border-style: dotted;
    border-color: #6A1501;
    ;
  }

/* Стили таблицы (price-table) */
caption {font-size: 18pt;}
.price_tr_firstline {font-weight:900 ;}
table.price-table{
    
    text-decoration: none;
    border-collapse:collapse;
    width: 98%;
    text-align:start;
    margin: 10px;
}

table.price-table th{
    font-weight:normal;
    font-size:18px; 
    color:#ffffff;
    background-color:#0f65a3;
}

table.price-table td{
    font-size:18px;
    color:#354251;
    width: 50px;
}
table.price-table td:first-child {
    width: 10px;
}

table.price-table td,table.rice-table th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:18px;
    vertical-align: middle;
    border: 2px solid #0f65a3;
}


table.price-table tr:hover{background-color:#f9fafb}
table.price-table tr:hover td{color:#354251;cursor:default;}