<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link th:href="@{/css/style.css}"
        type="text/css"
        rel="stylesheet">
</head>
<body>
<a href="/admin/users">назад к Списку пользователей</a><br>
<br>
<div class="block">
  <fieldset>
    <legend>User info</legend>
    <br>
    <strong>user login: </strong><span th:text="${user.getLogin()}">login</span><br>
    <strong>user role: </strong><span th:text="${user.getRole()}">role</span><br>
    <br>
    <a th:href="@{/admin/user/edit/{id}(id=${user.getId()})}"> Редактировать пользователя </a><br>
    <br>
    <a th:href="@{/admin/user/delete/{id}(id=${user.getId()})}"> Удалить пользователя </a><br>
    <br>
  </fieldset>

</div>

<h2>Заказы</h2> |
<div th:each="order : ${userOrderList}">
  <div class="order">
    <h3 th:text="'Заказ #' +  ${order.getOrderNo()}">orderNo</h3>
    <hr>
    <img
            class="img-small"
            th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}"
            th:alt="${order.getProduct().getTitle()}"
            width="100px"
    >
    <br>
    <strong>Наименование: </strong><span th:text="${order.getProduct().getTitle()}">title</span><br>
    <strong>Количество: </strong><span th:text="${order.getCount()}">count</span><br>
    <strong>Цена: </strong><span th:text="${order.getProduct().getPrice()}">price</span><br>
    <strong>Дата заказа: </strong><span th:text="${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}">date</span>
    <br>
    <hr>
    <strong>Статус заказа: </strong><span th:text="${order.getStatus()}"></span>
  </div>
</div>

</body>
</html>