<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link th:href="@{/css/style.css}"
        type="text/css"
        rel="stylesheet">
</head>
<body>
<a href="/admin/users">назад к Списку пользователей</a><br>
<br>
<div class="block">
  <fieldset>
    <legend>User info</legend>
    <br>
    <strong>login: </strong><span th:text="${user.getLogin()}">login</span>
    <span class="user-role" th:text="${user.getRole()}">role</span><br>
    <br>
    <a th:href="@{/admin/user/edit/{id}(id=${user.getId()})}"> Редактировать пользователя </a><br>
    <br>
    <a th:href="@{/admin/user/delete/{id}(id=${user.getId()})}"> Удалить пользователя </a><br>
    <br>
  </fieldset>

</div>

<h2>Заказы пользователя <span th:text="${user.getLogin()}"></span>:</h2>
<div class="order" th:each="order : ${userOrderList}">
  <div class="order-caption">
    <table class="order-item">
      <tbody>
      <tr>
        <td id="order-item-caption-orderNo">
          <a th:href="@{/admin/order/info/{id}(id=${order.getId()})}"
             th:text="'Заказ от '+${#temporals.format(order.getDateTime(), 'dd MMM yyyy')}"></a><br>
          <span th:text="${order.getOrderNo()}"></span>
        </td>
        <td id="order-item-caption-price">
          <b><span th:text="'Оплочено: '+${order.getPrice()}"></span></b>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>

      <tbody>
    </table>
  </div>
  <div>
    <table class="order-item">
      <tbody>
      <tr>
        <td colspan="2">
          <br>
          <span th:text="${order.getProduct().getTitle()}+ ', '+${order.getCount()}+' шт'"></span><br>
          <br>
          <span>Cтатус: </span>
          <span class="order-status" th:text="${order.getStatus()}+' ( i )'"></span><br>
          <br>
          <a th:href="@{/admin/order/edit/{id}(id=${order.getId()})}" th:text="'Изменисть статус'"></a>
          <br>
        </td>
        <td>
          <img
                  class="img-small"
                  th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}"
                  th:alt="${order.getProduct().getTitle()}"
          ><br>
          <span th:text="${order.getProduct().getSeller()}"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

</body>
</html>