/*#svg-search:hover, #svg-smail:hover, #svg-package:hover, #svg-fav:hover, #svg-cart:hover, #svg-exit:hover{*/
/*    color: dodgerblue;*/
/*}*/

svg{
    fill: dodgerblue;
}
svg:hover{
    fill: royalblue;
}
#svg-search, #svg-search:hover{
    fill: white;
}
#svg-exit {
    fill: green;
}
#svg-exit:hover {
    fill: darkred;
}
#svg-delete{
    fill: orangered;
}
#svg-color-success{
    fill: green;
}
#svg-color-secondary{
    fill: dodgerblue;
}

.svg-bulgarsky-colors {
    --color-cloud:dodgerblue;
    --color-sun:gold;
}

.svg-bulgarsky-color:hover {
    --color-cloud:#3949AB;
    --color-sun:#FFBB00;
}
span #blg, span #blg-sky {
   font-size: 24px;
}