body {
    background-color: whitesmoke;
    padding: 25px;
}
.block {
    margin: 25px;
    padding: 20px;
    width: 330px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

.search{
    margin: 25px;
    padding: 20px;
    width: 500px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
}

.card-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
    width: 1200px;
}
.card {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 5px 5px 20px;
    padding: 25px;
    width: 150px;
    height: 220px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 5px 5px 10px black;
}
.card a{
    text-decoration: none;
    color: black;
}
.card a:hover{
    text-decoration: underline;
    color: darkblue;
}
.card button {
    width: 100%;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 5px;
    border-style: none;
    border-color: dodgerblue;
    color: white;
}
.card button:hover{
    border-style: double;
    border-radius: 5px;
    background-color: dodgerblue;
    filter: brightness(0.95);
    color: white;
}
.card button:active{
    border-style: ridge;
    filter: brightness(0.95);
    color: white;
}
.card img{
    width: 75px;
}
.order {
    margin: 25px;
    padding: 20px;
    width: 500px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}
.cart{
    margin: 10px;
    padding: 5px;
    width: 500px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
.cart:hover {
    box-shadow: 5px 5px 10px black;
}
.cart table{
    padding: 5px;
    margin: 5px;
    justify-items: stretch;
    width: 100%;
}
.cart td {
    padding-left: 5px;
    padding-right: 5px;
}

.order {
    margin: 25px;
    padding: 20px;
    width: 550px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
.order:hover{
    box-shadow: 5px 5px 10px black;
}
.order a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.img-small {
    width: 50px;
}
.order-item{
    width: 100%;
    border: none;
}

.order-item-caption-orderNo{
    text-align: left;
    font-size: 16px;
}
.order-item-caption-price{
    text-align: right;
    font-size: 16px;
}

.order-caption{
}
.order-status {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.user-role {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.order-search{
    margin: 25px;
    width: 580px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 15px;
}
.order-search input{
    width: 85%;
    margin-right: 5px;
}
.order-search input:hover{
    border-color: dodgerblue;
}