body {
    background-color: antiquewhite;
}
.block {
    margin: 25px;
    padding: 20px;
    width: 330px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
}

.search{
    margin: 25px;
    padding: 20px;
    width: 500px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
}

.card {
    margin: 25px;
    padding: 20px;
    width: 200px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
}
.cart, .order {
    margin: 25px;
    padding: 20px;
    width: 500px;
    background-color: white;
    border-style: none;
    box-shadow: 5px 5px 10px black;
}

.img-small {
    width: 50px;
}