P::first-letter {
    font-size: 20px;
    color:red;
}

P::first-line {
    font-size: 15px;
}

.warning::before {
    content: "ВНИМАНИЕ!";
    font-weight: bold;    
    color: brown;
}
.warning::after {
    content: "Будьте осторожны";
    font-weight: bolder;
    color:brown;
}

::selection {
    color:aliceblue;
    background-color: brown;
}