main{
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
}

div{
    background-color:white;
    width: 300px;
    height: 200px;
    font-size: 14px;
}
div.first{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}
div.second{
    margin-top: 25px;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 20px;
}
span{
    background-color: cornflowerblue;
}
span.bigsmoke{
    font-size: 25px;
    color: black;
}
span.smoke{
    font-size: 30px;
    color: brown;
}
