@font-face {
    font-family: Aclonica; /* Имя шрифта */
    src: url(../fontsAclonica-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: AutourOne; /* Имя шрифта */
    src: url(../fonts/AutourOne-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
   }

p, label, li, input, textarea, table, .header_links, .btn  {
    font-family:"Roboto";
   }
   .name {
    font-size: 24pt;
    color: tomato;
   }
h1,legend, ul, caption, .name {
    font-family: "AutourOne";
    
}
h1 {
    font-size: 32pt;
}
h2 {
    font-size: 24pt;
}
h2, h3, h4  {
    font-family: "AutourOne";
}