<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order list</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<div>
    <a href="/admin"> Назад к терминалу</a><br>
    <h3>Список всех заказов:</h3>
    <div class="order" th:each="order : ${allOrders}">
        <div class="order-caption">
            <table class="order-item">
                <tbody>
                <tr>
                    <td id="order-item-caption-orderNo">
                        <a th:href="@{/admin/order/info/{id}(id=${order.getId()})}"
                              th:text="'Заказ от '+${#temporals.format(order.getDateTime(), 'dd MMM yyyy')}"></a><br>
                            <span th:text="${order.getOrderNo()}"></span>
                    </td>
                    <td id="order-item-caption-price">
                        <b><span th:text="'Оплочено: '+${order.getPrice()}"></span></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>

                <tbody>
            </table>
        </div>
        <div>
            <table class="order-item">
                <tbody>
                <tr>
                    <td colspan="2">
                        <br>
                        <span th:text="${order.getProduct().getTitle()}+ ', '+${order.getCount()}+' шт'"></span><br>
                        <br>
                        <span>Cтатус: </span>
                        <span id="order-status" th:text="${order.getStatus()}+' ( i ) '"></span><br>
                        <br>
                        <span>Покупатель: </span>
                        <a th:href="@{/user/info/{id}(id=${order.getPerson().getId()})}"
                           th:text="${order.getPerson().getLogin()}">
                            user placeholder
                        </a><br>
                    </td>
                    <td>
                        <img
                                class="img-small"
                                th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}"
                                th:alt="${order.getProduct().getTitle()}"
                        >
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>