<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order list</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<div>
    <a href="/admin"> Назад к терминалу</a><br>
    <h3>Список всех заказов</h3>
    <div  class="order" th:each="order : ${allOrders}">
        <a th:href="@{/admin/order/info/{id}(id=${order.getId()})}"
           th:text="'Заказ'"
        >
            Заказ </a>
        <span th:text="': '+${order.getOrderNo()}"></span><br>
        <span th:text="'Статус: '+${order.getStatus()}"></span>
        <span th:text="' | Цена: '+${order.getPrice()}"></span><br>
        <span>Покупатель: </span>
        <a th:href="@{/user/info/{id}(id=${order.getPerson().getId()})}"
           th:text="${order.getPerson().getLogin()}">
           user placeholder
           </a><br>
    </div>
</div>

</body>
</html>