<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
    <link th:href="@{/css/style.css}"
        type="text/css"
        rel="stylesheet">
</head>
<body>
<a href="/admin">Вернутся на главную</a><br>
<hr>
<h3>Список всех товаров</h3>
<div class="block" th:each="product : ${products}">
  <fieldset>
    <legend th:text="'product # '+${product.getId()}">id</legend>
    <img
            th:src="'/img/'+${product.imageList[0].getFileName()}"
            width="100px"
            th:alt="${product.getTitle()}"><br>
    <br>
    <strong>Наименование: </strong><span th:text="${product.getTitle()}">title</span><br>
    <strong>Описание: </strong><span th:text="${product.getDescription()}">description</span><br>
    <strong>Категория: </strong><span th:text="${product.getCategory().getTitle()}">category</span><br>
    <strong>Продавец: </strong><span th:text="${product.getSeller()}">seller</span><br>
    <strong>Склад: </strong><span th:text="${product.getWarehouse()}">warehouse</span><br>
    <strong>Цена: </strong><span th:text="${product.getPrice()}">price</span><br>
    <br>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}"> Редактировать товар </a><br>
    <br>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}"> Удалить товар </a><br>
  </fieldset>
</div>
</body>
</html>