<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<h2>Пользователи: </h2>
<div class="block">
    <div th:each="user : ${users}">
        <a th:href="@{/user/info/{id}(id=${user.getId()})}"
           th:text="${user.getLogin()}"
        >
            link to profile
        </a>
        <br>
    </div>
</div>
<a href="/admin">Назад</a>
</body>
</html>