<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link th:href="@{/css/style.css}"
          type="text/css"
          rel="stylesheet">
</head>
<body>
<a href="/admin">Назад к терминалу</a><br>
<br>
<h2>Пользователи: </h2>
<div>
    <div  class="block" th:each="user : ${userList}">
        <a th:href="@{/user/info/{id}(id=${user.getId()})}"
           th:text="'Пользователь '+ ${user.getLogin()}"
        >
            link to profile
        </a>
        <span id="user-role" th:text="${user.getRole()}"></span><br>
    </div>
</div>

</body>
</html>